.Projects
  position: fixed
  z-index: 0
  top: 63px
  left: 0px
  right: 0px
  bottom: 0px
  width: calc(100% - 40px)
  max-height: calc(100% - 40px)
  padding: 20px
  overflow: auto
  color: rgb(255, 255, 255)
  background-color: rgba(0, 0, 0, .85)
  @media screen and (min-width: 375px)
    padding: 20px 25px 20px 25px
    width: calc(100% - 50px)
  @media screen and (min-width: 425px)
    padding: 20px 30px 20px 30px
    width: calc(100% - 60px)
  @media screen and (min-width: 768px)
    padding: 20px 100px 20px 100px
    width: calc(100% - 200px)
  @media screen and (min-width: 1200px)
    padding: 20px 300px 20px 300px
    width: calc(100% - 600px)

.Project
  max-width: 100%
  position: relative
  margin-bottom: 40px

  .info
    height: 40%
    width: 100%
    position: absolute
    z-index: 10
    bottom: 0
    background-color: rgba(0, 0, 0, .85)

  .content
    display: flex
    flex-direction: column
    justify-content: center
    text-align: right
    padding-right: 20px
  a
    display: inline-block
    margin: 10px
    color: white
    border: 1px solid white
    border-radius: 5px
    padding: 10px
    text-decoration: none
    &:hover
      text-decoration: none
    &:visited
      text-decoration: none
    &:focus
      text-decoration: none
    &:active
      text-decoration: none
  img
    max-width: 100%
    max-height: 100%
